.button-container {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    background-color: #1b1b32;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 25px;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.button-container:hover{
    background-color: #5a01a7;
}

.operator {
    background-color: #00471b;
}

.operator:hover{
    background-color: #ff6600;
}