.clear-button {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #ac0246;
    margin-top: 8px;
    font-weight: 700;
    color: #fff;
    border-radius: 25px;
    border: 2px solid #fff;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #ebb000;
}