.App {
    background-color: rgb(9, 9, 155);
    height: 100vh;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
    flex-direction: column;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:auto;
    height: 50px;
}

.freecodecamp-logo {
    height: 40px;
}

.calc-container{
    width: 400px;
    height: 600px;
    padding: 14px;
    background-color: #99c9ff;
    border-radius: 20px;
    border: 5px solid #fff;
}

.line {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}